In [1]:
%load_ext sql

In [5]:
chuoi_ket_noi = 'mysql+pymysql://root:@localhost:3308/productshipping?charset=utf8'
%sql $chuoi_ket_noi

'Connected: root@productshipping'

In [10]:
%sql Select * from Customers where country='Germany'

 * mysql+pymysql://root:***@localhost:3308/productshipping?charset=utf8
11 rows affected.

[(1, 'Customer NRZBB', 'Allen, Michael', 'Sales Representative', 'Obere Str. 0123', 'Berlin', None, '10092', 'Germany', '030-3456789', '030-0123456'),
 (6, 'Customer XHXJV', 'Poland, Carole', 'Sales Representative', 'Forsterstr. 7890', 'Mannheim', None, '10117', 'Germany', '0621-67890', '0621-12345'),
 (17, 'Customer FEVNN', 'Jones, TiAnna', 'Order Administrator', 'Walserweg 4567', 'Aachen', None, '10067', 'Germany', '0241-789012', '0241-345678'),
 (25, 'Customer AZJED', 'Carlson, Jason', 'Marketing Manager', 'Berliner Platz 9012', 'München', None, '10091', 'Germany', '089-8901234', '089-5678901'),
 (39, 'Customer GLLAG', 'Song, Lolan', 'Sales Associate', 'Maubelstr. 8901', 'Brandenburg', None, '10060', 'Germany', '0555-34567', None),
 (44, 'Customer OXFRU', 'Louverdis, George', 'Sales Representative', 'Magazinweg 8901', 'Frankfurt a.M.', None, '10095', 'Germany', '069-7890123', '069-4567890'),
 (52, 'Customer PZNLA', 'Dupont-Roc, Patrice', 'Marketing Assistant', 'Heerstr. 4567', 'Leipzig', None, '10125', 'Germany', '0342-12345', None),
 (56, 'Customer QNIVZ', 'Marinova, Nadejda', 'Owner', 'Mehrheimerstr. 9012', 'Köln', None, '10047', 'Germany', '0221-0123456', '0221-7890123'),
 (63, 'Customer IRRVL', 'Veronesi, Giorgio', 'Accounting Manager', 'Taucherstraße 1234', 'Cunewalde', None, '10126', 'Germany', '0372-12345', None),
 (79, 'Customer FAPSM', 'Wickham, Jim', 'Marketing Manager', 'Luisenstr. 0123', 'Münster', None, '10118', 'Germany', '0251-456789', '0251-012345'),
 (86, 'Customer SNXOJ', 'Syamala, Manoj', 'Sales Representative', 'Adenauerallee 7890', 'Stuttgart', None, '10086', 'Germany', '0711-345678', '0711-901234')]

In [11]:
result = %sql Select * from Customers where country='Germany'

 * mysql+pymysql://root:***@localhost:3308/productshipping?charset=utf8
11 rows affected.

In [13]:
import pandas as pd

In [15]:
#cách 1:
df = pd.DataFrame(result, columns=['Custid', 'Companyname', 'Contactname', 'Contacttitle', 
                                   'Address', 'City', 'Region', 'Postalcode', 'Country', 
                                   'Phone', 'Fax'])
df

,Custid,Companyname,Contactname,Contacttitle,Address,City,Region,Postalcode,Country,Phone,Fax
0,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,None,10092,Germany,030-3456789,030-0123456
1,6,Customer XHXJV,"Poland, Carole",Sales Representative,Forsterstr. 7890,Mannheim,None,10117,Germany,0621-67890,0621-12345
2,17,Customer FEVNN,"Jones, TiAnna",Order Administrator,Walserweg 4567,Aachen,None,10067,Germany,0241-789012,0241-345678
3,25,Customer AZJED,"Carlson, Jason",Marketing Manager,Berliner Platz 9012,München,None,10091,Germany,089-8901234,089-5678901
4,39,Customer GLLAG,"Song, Lolan",Sales Associate,Maubelstr. 8901,Brandenburg,None,10060,Germany,0555-34567,None
5,44,Customer OXFRU,"Louverdis, George",Sales Representative,Magazinweg 8901,Frankfurt a.M.,None,10095,Germany,069-7890123,069-4567890
6,52,Customer PZNLA,"Dupont-Roc, Patrice",Marketing Assistant,Heerstr. 4567,Leipzig,None,10125,Germany,0342-12345,None
7,56,Customer QNIVZ,"Marinova, Nadejda",Owner,Mehrheimerstr. 9012,Köln,None,10047,Germany,0221-0123456,0221-7890123
8,63,Customer IRRVL,"Veronesi, Giorgio",Accounting Manager,Taucherstraße 1234,Cunewalde,None,10126,Germany,0372-12345,None
9,79,Customer FAPSM,"Wickham, Jim",Marketing Manager,Luisenstr. 0123,Münster,None,10118,Germany,0251-456789,0251-012345
10,86,Customer SNXOJ,"Syamala, Manoj",Sales Representative,Adenauerallee 7890,Stuttgart,None,10086,Germany,0711-345678,0711-901234

In [16]:
#cách 2
from sqlalchemy.engine import create_engine

In [17]:
ketnoi = create_engine(chuoi_ket_noi)

In [18]:
sql = "Select * from Customers where country='Germany'"
df = pd.read_sql(sql, ketnoi)
df

c:\program files\python36\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,Custid,Companyname,Contactname,Contacttitle,Address,City,Region,Postalcode,Country,Phone,Fax
0,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,None,10092,Germany,030-3456789,030-0123456
1,6,Customer XHXJV,"Poland, Carole",Sales Representative,Forsterstr. 7890,Mannheim,None,10117,Germany,0621-67890,0621-12345
2,17,Customer FEVNN,"Jones, TiAnna",Order Administrator,Walserweg 4567,Aachen,None,10067,Germany,0241-789012,0241-345678
3,25,Customer AZJED,"Carlson, Jason",Marketing Manager,Berliner Platz 9012,München,None,10091,Germany,089-8901234,089-5678901
4,39,Customer GLLAG,"Song, Lolan",Sales Associate,Maubelstr. 8901,Brandenburg,None,10060,Germany,0555-34567,None
5,44,Customer OXFRU,"Louverdis, George",Sales Representative,Magazinweg 8901,Frankfurt a.M.,None,10095,Germany,069-7890123,069-4567890
6,52,Customer PZNLA,"Dupont-Roc, Patrice",Marketing Assistant,Heerstr. 4567,Leipzig,None,10125,Germany,0342-12345,None
7,56,Customer QNIVZ,"Marinova, Nadejda",Owner,Mehrheimerstr. 9012,Köln,None,10047,Germany,0221-0123456,0221-7890123
8,63,Customer IRRVL,"Veronesi, Giorgio",Accounting Manager,Taucherstraße 1234,Cunewalde,None,10126,Germany,0372-12345,None
9,79,Customer FAPSM,"Wickham, Jim",Marketing Manager,Luisenstr. 0123,Münster,None,10118,Germany,0251-456789,0251-012345
10,86,Customer SNXOJ,"Syamala, Manoj",Sales Representative,Adenauerallee 7890,Stuttgart,None,10086,Germany,0711-345678,0711-901234

In [19]:
#cách 3:
result = %sql Select * from Customers where country='Germany'
df = result.DataFrame()
df

 * mysql+pymysql://root:***@localhost:3308/productshipping?charset=utf8
11 rows affected.

,Custid,Companyname,Contactname,Contacttitle,Address,City,Region,Postalcode,Country,Phone,Fax
0,1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,None,10092,Germany,030-3456789,030-0123456
1,6,Customer XHXJV,"Poland, Carole",Sales Representative,Forsterstr. 7890,Mannheim,None,10117,Germany,0621-67890,0621-12345
2,17,Customer FEVNN,"Jones, TiAnna",Order Administrator,Walserweg 4567,Aachen,None,10067,Germany,0241-789012,0241-345678
3,25,Customer AZJED,"Carlson, Jason",Marketing Manager,Berliner Platz 9012,München,None,10091,Germany,089-8901234,089-5678901
4,39,Customer GLLAG,"Song, Lolan",Sales Associate,Maubelstr. 8901,Brandenburg,None,10060,Germany,0555-34567,None
5,44,Customer OXFRU,"Louverdis, George",Sales Representative,Magazinweg 8901,Frankfurt a.M.,None,10095,Germany,069-7890123,069-4567890
6,52,Customer PZNLA,"Dupont-Roc, Patrice",Marketing Assistant,Heerstr. 4567,Leipzig,None,10125,Germany,0342-12345,None
7,56,Customer QNIVZ,"Marinova, Nadejda",Owner,Mehrheimerstr. 9012,Köln,None,10047,Germany,0221-0123456,0221-7890123
8,63,Customer IRRVL,"Veronesi, Giorgio",Accounting Manager,Taucherstraße 1234,Cunewalde,None,10126,Germany,0372-12345,None
9,79,Customer FAPSM,"Wickham, Jim",Marketing Manager,Luisenstr. 0123,Münster,None,10118,Germany,0251-456789,0251-012345
10,86,Customer SNXOJ,"Syamala, Manoj",Sales Representative,Adenauerallee 7890,Stuttgart,None,10086,Germany,0711-345678,0711-901234

In [22]:
## truyền tham số
cty = 'USA'
%sql Select * from Customers where country = :cty limit 5

 * mysql+pymysql://root:***@localhost:3308/productshipping?charset=utf8
5 rows affected.

[(32, 'Customer YSIQX', 'Krishnan, Venky', 'Marketing Manager', '6789 Baker Blvd.', 'Eugene', 'OR', '10070', 'USA', '(503) 555-0122', None),
 (36, 'Customer LVJSO', 'Smith, Denise', 'Sales Representative', 'City Center Plaza 2345 Main St.', 'Elgin', 'OR', '10103', 'USA', '(503) 555-0126', '(503) 555-0135'),
 (43, 'Customer UISOJ', 'Deshpande, Anu', 'Marketing Manager', '8901 Orchestra Terrace', 'Walla Walla', 'WA', '10069', 'USA', '(509) 555-0119', '(509) 555-0130'),
 (45, 'Customer QXPPT', 'Sunkammurali,  Krishna', 'Owner', '1234 Polk St. Suite 5', 'San Francisco', 'CA', '10062', 'USA', '(415) 555-0118', None),
 (48, 'Customer DVFMB', 'Szymczak, Radosław', 'Sales Manager', '9012 Chiaroscuro Rd.', 'Portland', 'OR', '10073', 'USA', '(503) 555-0117', '(503) 555-0129')]

In [31]:
%%sql result << 
Select * 
from Customers 
limit 5

 * mysql+pymysql://root:***@localhost:3308/productshipping?charset=utf8
5 rows affected.
Returning data to local variable result

In [27]:
result

[(1, 'Customer NRZBB', 'Allen, Michael', 'Sales Representative', 'Obere Str. 0123', 'Berlin', None, '10092', 'Germany', '030-3456789', '030-0123456'),
 (2, 'Customer MLTDN', 'Hassall, Mark', 'Owner', 'Avda. de la Constitución 5678', 'México D.F.', None, '10077', 'Mexico', '(5) 789-0123', '(5) 456-7890'),
 (3, 'Customer KBUDE', 'Peoples, John', 'Owner', 'Mataderos  7890', 'México D.F.', None, '10097', 'Mexico', '(5) 123-4567', None),
 (4, 'Customer HFBZG', 'Arndt, Torsten', 'Sales Representative', '7890 Hanover Sq.', 'London', None, '10046', 'UK', '(171) 456-7890', '(171) 456-7891'),
 (5, 'Customer HGVLZ', 'Higginbotham, Tom', 'Order Administrator', 'Berguvsvägen  5678', 'Luleå', None, '10112', 'Sweden', '0921-67 89 01', '0921-23 45 67')]